.venv/
__pycache__/
.ipynb_checkpoints/
local_pipeline/ingested/
local_pipeline/artifacts/
local_pipeline/mlruns/
local_pipeline/mlflow.db
aws_pipeline/ingested/
aws_pipeline/artifacts/
aws_pipeline/mlruns/
aws_pipeline/model/
aws_pipeline/model.tar.gz
*.joblib
*.pkl
.env
.env.*
